@font-face{
  font-family:'Equip-Medium';src:url(https://static.ring.com/assets/2BA2B5_0_0-8d07acd133038275054cf636e7be929d.eot);
  src:url(https://static.ring.com/assets/2BA2B5_0_0-8d07acd133038275054cf636e7be929d.eot?#iefix)
  format("embedded-opentype"),url(https://static.ring.com/assets/2BA2B5_0_0-648d7e601e49013f05cdab96a9e554f9.woff)
  format("woff"),url(https://static.ring.com/assets/2BA2B5_0_0-621b87178c3cb4dd6507cd404791de85.ttf)
  format("truetype")
}
@font-face {
  font-family:'Equip-Light';src:url(https://static.ring.com/assets/30DF1A_0_0-c4865ef5a8de8a032f362ca8cc865a1b.eot);
  src:url(https://static.ring.com/assets/30DF1A_0_0-c4865ef5a8de8a032f362ca8cc865a1b.eot?#iefix)
  format("embedded-opentype"),url(https://static.ring.com/assets/30DF1A_0_0-2fdf5018a9733d30e02786f6ef606b76.woff2)
  format("woff2"),url(https://static.ring.com/assets/30DF1A_0_0-f4b441adfc3a10ccfc6d075e2b09c6b0.woff)
  format("woff"),url(https://static.ring.com/assets/30DF1A_0_0-e8cf0461312a46730be1e44c66955e1c.ttf)
  format("truetype"),url(https://static.ring.com/assets/30DF1A_0_0-34a0b807c4c3d878cf9df04a87ab08cb.svg#wf)
  format("svg")
}


html, body {
  overflow-x: hidden;
  height:100%;
  color: #464646;
  margin: 0 ;
  padding: 0 ;
}

h1 {
  font-family:'Equip-Light',sans-serif;
  font-size: 24px;
}
h2 {
  font-family: 'Equip-Light',sans-serif;
  font-size: 1.2em;
  color: #009AD8;
}
p {
  font-family: 'Equip-Light',sans-serif;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: #009AD8;
}

button {
  background: #009AD8;
  display: block;
  width:40%;
  border-radius: 4px;
  border: 2px solid #009AD8;
  padding: 9px 0 5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: normal;
  color:white;
  text-decoration: none;
}
button:focus {
  background-color: #5691C9;
  border: 2px solid #5691C9;
  transition: ease .2s;
  outline: none;
}

.header {
  margin:  0 0 0 5%;
}

.speedtest {
  margin: 30% 0 0 0;

}

.speedtest > h2 {
  text-align: center;
}
.speedtest > button {
  text-align: center;
  margin: 14% auto;
}
